index.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./index.css")
  body
    //- input.hidden-anchor#go-previous(type="radio", name="hidden-anchor")
    //- label(for='go-previous')
    //- input.hidden-anchor#go-next(type="radio", name="hidden-anchor", checked)
    //- label(for="go-next")
    //- .page#page0
    a.start#pagex(href="#page10") start

    .progress
    .classic.page.slide-r2l-out.slide-r2l-in#page10
      a.prev(href="#pagex")
      a.next(href="#page20")
      .title The history of human being 
      .subtitle page1
    .classic.page.slide-r2l-in.slide-b2t-out#page20
      a.prev(href="#page10")
      a.next(href="#page30")
      .title common shortcuts of normal editors
      .subtitle
      ul
        li  <kbd>alt+&lt;left&gt;/&lt;right&gt;</kbd>
        li  <kbd>cmd+&lt;left&gt;/&lt;right&gt;</kbd>
        li  <kbd>cmd+&lt;up&gt;/&lt;down&gt;</kbd>
    .classic.page.slide-b2t-in.rotate-2l-out#page30
      a.prev(href="#page20")
      a.next(href="#page40")
      .title the vim way
      //- .subtitle content 3
      .content
        p.
          modal editing

    .classic.page.slide-r2l-in.slide-r2l-out#page40
      a.prev(href="#page30")
      a.next(href="#page42")
      .title 3 modes of vim
      //- .subtitle content 4
      .content
        ul
          li insert mode
          li command mode
          li visual mode
      

    .classic.page.slide-r2l-in.slide-r2l-out#page42
      a.prev(href="#page40")
      a.next(href="#page45")
      .title insert mode
      .subtitle 
      .layout
        .info.
          most keystrokes are inserted as text

    .classic.page.slide-r2l-in.slide-r2l-out#page45
      a.prev(href="#page42")
      a.next(href="#page48")
      .title insert mode (2)
      .subtitle  how to enter insert mode 
      p
        | a brown fox j
        span.box-caret u
        | mps over a lazy dog 
      dl
        dt a
        dd 
          | a brown fox j
          span.caret u
          | mps over a lazy dog 
        dt A
        dd 
          | a brown fox jumps over a lazy do
          span.caret g 
        dt i
        dd
          | a brown fox 
          span.caret j
          | umps over a lazy dog 
        dt I
        dd
          span.caret 
          | a brown fox jumps over a lazy do
        dt o
        dd
          div a brown fox jumps over a lazy do
          .line 
            span.caret  
        dt O
        dd
          .line
            span.caret  
          div a brown fox jumps over a lazy do

    .classic.page.slide-r2l-in.slide-r2l-out#page48
      a.prev(href="#page45")
      a.next(href="#page49")
      //- .title edit mode
      .subtitle 
      .layout
        h2 how to exit insert mode
        //- .info press the vim home key <kbd>esc</kbd>

    .classic.page.slide-r2l-in.slide-r2l-out#page49
      a.prev(href="#page48")
      a.next(href="#page50")
      .layout
        h1 <kbd>esc</kbd>

    .classic.page.slide-r2l-in.slide-r2l-out#page50
      a.prev(href="#page49")
      a.next(href="#page90")
      .title command mode
      .subtitle 
      .layout
        h2 all characters will be considered as command.

    //- .classic.page.slide-r2l-in.slide-r2l-out#page60
    //-   a.prev(href="#page50")
    //-   a.next(href="#page70")
    //-   .title command mode
    //-   .subtitle 
    //-   p.
    //-     all characters will be considered as command.

    //- .classic.page.slide-r2l-in.slide-r2l-out#page70
    //-   a.prev(href="#page60")
    //-   a.next(href="#page80")
    //-   .title edit mode

    //- .classic.page.slide-r2l-in.slide-r2l-out#page80
    //-   a.prev(href="#page70")
    //-   a.next(href="#page90")
    //-   .title visual mode

    .classic.page.slide-r2l-in.slide-r2l-out#page90
      a.prev(href="#page80")
      a.next(href="#page100")
      .title move around in vim
      .subtitle h,j,k,l     
      dl
        dt h
        dd left
        dt j
        dd down
        dt k
        dd up
        dt l
        dd right

    .classic.page.slide-r2l-in.slide-r2l-out#page100
      a.prev(href="#page90")
      a.next(href="#page110")
      .title move around in vim (2)
      .subtitle e E b B w W
      dl
        dt e
        dd foward to <b>end</b> of a word
        dt E
        dd foward to <b>end</b> of line
        dt b
        dd <b>backword</b> a word
        dt B
        dd <b>backword</b> a WORD
        dt w
        dd to the next beginning of a <b>word</b>
        dt W
        dd to the next beginning of a <b>W</b>ORD

    .classic.page.slide-r2l-in.slide-r2l-out#page110
      a.prev(href="#page100")
      a.next(href="#page120")
      .title move around in vim (3)
      .subtitle 0 ^ $
      dl
        dt 0
        dd go to the very beginning of line
        dt ^
        dd go to the first non empty character of line
        dt $
        dd go to the end of line

    .classic.page.slide-r2l-in.slide-r2l-out#page120
      a.prev(href="#page110")
      a.next(href="#page130")
      .title move around in vim (4)
      .subtitle f F t T , ;
      dl
        dt f
        dd move cursor <b>forward</b> to the first character after the cursor
        dt F
        dd move cursor <b>forward</b> to the first next character before
        dt t
        dd move cursor <b>till</b> the first next character before
        dt T
        dd move cursor <b>till</b> the first next charactor before
        dt ;
        dd repeat the latest f/F/t/T command. 
        dt ,
        dd repeat the latest f/F/t/T command in opposite direction

    .classic.page.slide-r2l-in.slide-r2l-out#page130
      a.prev(href="#page120")
      a.next(href="#page140")
      .title move around in vim (5)
      .subtitle g % C+d C+u 
      dl
        dt g
        dd <b>go</b> to somewhere
          dl
            dt gg
            dd <b>go</b> to the beginning of the file
            dt G
            dd <b>go</b> to the end of the file
        dt %
        dd go to matching bracket
        dt C+d
        dd move <b>down</b> half screen
        dt C+u
        dd move <b>up</b> half screen
    .classic.page.slide-r2l-in.slide-r2l-out#page140
      a.prev(href="#page130")
      a.next(href="#page143")
      .title editing commands
      .subtitle x r s 
      p for single character
      dl
        dt x
        dd delete character under cursor
        dt r{char}
        dd repalce character under cursor to {char}
        dt s
        dd delete character under cursor and enter edit mode

    .classic.page.slide-r2l-in.slide-r2l-out#page143
      a.prev(href="#page140")
      a.next(href="#page145")
      .layout
        h2  Text Object
    .classic.page.slide-r2l-in.slide-r2l-out#page145
      a.prev(href="#page143")
      a.next(href="#page150")
      .layout
        h3 What is Text Object

    .classic.page.slide-r2l-in.slide-r2l-out#page150
      a.prev(href="#page145")
      a.next(href="#page160")
      .title editing commands (2)
      .subtitle text object
      .layout
        .container
          .row
            .cell
              ul 
                li a
                li i (inner)
            .cell
              ul
                li w(word) 
                li W(Word)
                li s(sentence)
                li p(paragraph)
                li bracket((), [], {}, &lt;&gt;)
                li quote('', "", ``)

    .classic.page.slide-r2l-in.slide-r2l-out#page160
      a.prev(href="#page150")
      a.next(href="#page165")
      .title editing commands (3)
      .subtitle d c v y p
      p actions:
      dl
        dt d
        dd <b>delete</b>
        dt c 
        dd <b>change</b>
        dt v
        dd <b>visually</b> select
        dt y
        dd <b>yank</b>
        dt p
        dd <b>put</b>
      
    .classic.page.slide-r2l-in.slide-r2l-out#page165
      a.prev(href="#page160")
      a.next(href="#page170")
      .title undo/redo
      .layout
        dl
          dt u
          dd <b>undo</b>
          dt ctrl+r
          dd <b>redo</b>

    .classic.page.slide-r2l-in.slide-r2l-out#page170
      a.prev(href="#page165")
      a.next(href="#page175")
      .title visual mode
      .layout
        h2 How to enter visual mode

    .classic.page.slide-r2l-in.slide-r2l-out#page175
      a.prev(href="#page170")
      a.next(href="#page178")
      .layout 
        h1 <kbd>v</kbd> 


    .classic.page.slide-r2l-in.slide-r2l-out#page178
      a.prev(href="#page175")
      a.next(href="#page180")
      .title count
      .layout 
        h2 repeat following command {n} times

    .classic.page.slide-r2l-in.slide-r2l-out#page180
      a.prev(href="#page178")
      a.next(href="#page190")
      .title macro
      .content
        dl
          dt start recording macro
          dd q{char}
          dt end recording macro
          dd q
          dt use the macro
          dd @{char}

    .classic.page.slide-r2l-in.slide-r2l-out#page190
      a.prev(href="#page180")
      a.next(href="#page200")
      .title marker
      .content
        dl
          dt create a <b>mark</b>
          dd m{char}
          dt goto a mark
          dd `{char}/'{char}
    .classic.page.slide-r2l-in.slide-r2l-out#page200
      a.prev(href="#page190")
      a.next(href="#page210")
      .title z
      dl
        dt zt
        dd make current line <b>top</b> of screen
        dt zz
        dd make current line middle of screen
        dt zb
        dd make current line <b>bottom</b> of screen
        dt zc
        dd <b>close</b> current level of text
        dt zo
        dd <b>open</b> 

    .classic.page.slide-r2l-in.slide-r2l-out#page210
      a.prev(href="#page200")
      a.next(href="#page220")
      .layout
        h2 exit vim?

    .classic.page.slide-r2l-in.slide-r2l-out#page220
      a.prev(href="#page210")
      a.next(href="#page230")
      .layout
        h1 :q / :wq  / :q!
    .classic.page.slide-r2l-in.slide-r2l-out#page230
      a.prev(href="#page220")
      a.next(href="#page240")
      .title plugins support vim keymaps
      .layout
        ul
          li Vrapper(Eclipse)
          li Vim(Code) 
          li Vintage(Sublime)
          li Evil(Emacs)
    .classic.page.slide-r2l-in.slide-r2l-out#page240
      a.prev(href="#page230")
      a.next(href="#pagex")
      .layout
        h2 That's all.
    .classic.page.slide-r2l-in.slide-r2l-out#page250
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page260
      a.prev(href="#page50")
      a.next(href="#page70")





    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")
    .classic.page.slide-r2l-in.slide-r2l-out#page60
      a.prev(href="#page50")
      a.next(href="#page70")

index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><title>Document</title><link rel="stylesheet" href="./index.css"/></head><body><a class="start" id="pagex" href="#page10">start</a><div class="progress"></div><div class="classic page slide-r2l-out slide-r2l-in" id="page10"><a class="prev" href="#pagex"></a><a class="next" href="#page20"></a><div class="title">The history of human being </div><div class="subtitle">page1</div></div><div class="classic page slide-r2l-in slide-b2t-out" id="page20"><a class="prev" href="#page10"></a><a class="next" href="#page30"></a><div class="title">common shortcuts of normal editors</div><div class="subtitle"></div><ul><li> <kbd>alt+&lt;left&gt;/&lt;right&gt;</kbd></li><li> <kbd>cmd+&lt;left&gt;/&lt;right&gt;</kbd></li><li> <kbd>cmd+&lt;up&gt;/&lt;down&gt;</kbd></li></ul></div><div class="classic page slide-b2t-in rotate-2l-out" id="page30"><a class="prev" href="#page20"></a><a class="next" href="#page40"></a><div class="title">the vim way</div><div class="content"><p>modal editing
</p></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page40"><a class="prev" href="#page30"></a><a class="next" href="#page42"></a><div class="title">3 modes of vim</div><div class="content"><ul><li>insert mode</li><li>command mode</li><li>visual mode</li></ul></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page42"><a class="prev" href="#page40"></a><a class="next" href="#page45"></a><div class="title">insert mode</div><div class="subtitle"> </div><div class="layout"><div class="info">most keystrokes are inserted as text
</div></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page45"><a class="prev" href="#page42"></a><a class="next" href="#page48"></a><div class="title">insert mode (2)</div><div class="subtitle"> how to enter insert mode </div><p>a brown fox j<span class="box-caret">u</span>mps over a lazy dog </p><dl><dt>a</dt><dd> a brown fox j<span class="caret">u</span>mps over a lazy dog </dd><dt>A</dt><dd> a brown fox jumps over a lazy do<span class="caret">g </span></dd><dt>i</dt><dd>a brown fox <span class="caret">j</span>umps over a lazy dog </dd><dt>I</dt><dd><span class="caret"> </span>a brown fox jumps over a lazy do</dd><dt>o</dt><dd><div>a brown fox jumps over a lazy do</div><div class="line"> <span class="caret"> </span></div></dd><dt>O</dt><dd><div class="line"><span class="caret"> </span></div><div>a brown fox jumps over a lazy do</div></dd></dl></div><div class="classic page slide-r2l-in slide-r2l-out" id="page48"><a class="prev" href="#page45"></a><a class="next" href="#page49"></a><div class="subtitle"> </div><div class="layout"><h2>how to exit insert mode</h2></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page49"><a class="prev" href="#page48"></a><a class="next" href="#page50"></a><div class="layout"><h1><kbd>esc</kbd></h1></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page50"><a class="prev" href="#page49"></a><a class="next" href="#page90"></a><div class="title">command mode</div><div class="subtitle"> </div><div class="layout"><h2>all characters will be considered as command.</h2></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page90"><a class="prev" href="#page80"></a><a class="next" href="#page100"></a><div class="title">move around in vim</div><div class="subtitle">h,j,k,l     </div><dl><dt>h</dt><dd>left</dd><dt>j</dt><dd>down</dd><dt>k</dt><dd>up</dd><dt>l</dt><dd>right</dd></dl></div><div class="classic page slide-r2l-in slide-r2l-out" id="page100"><a class="prev" href="#page90"></a><a class="next" href="#page110"></a><div class="title">move around in vim (2)</div><div class="subtitle">e E b B w W</div><dl><dt>e</dt><dd>foward to <b>end</b> of a word</dd><dt>E</dt><dd>foward to <b>end</b> of line</dd><dt>b</dt><dd><b>backword</b> a word</dd><dt>B</dt><dd><b>backword</b> a WORD</dd><dt>w</dt><dd>to the next beginning of a <b>word</b></dd><dt>W</dt><dd>to the next beginning of a <b>W</b>ORD</dd></dl></div><div class="classic page slide-r2l-in slide-r2l-out" id="page110"><a class="prev" href="#page100"></a><a class="next" href="#page120"></a><div class="title">move around in vim (3)</div><div class="subtitle">0 ^ $</div><dl><dt>0</dt><dd>go to the very beginning of line</dd><dt>^</dt><dd>go to the first non empty character of line</dd><dt>$</dt><dd>go to the end of line</dd></dl></div><div class="classic page slide-r2l-in slide-r2l-out" id="page120"><a class="prev" href="#page110"></a><a class="next" href="#page130"></a><div class="title">move around in vim (4)</div><div class="subtitle">f F t T , ;</div><dl><dt>f</dt><dd>move cursor <b>forward</b> to the first character after the cursor</dd><dt>F</dt><dd>move cursor <b>forward</b> to the first next character before</dd><dt>t</dt><dd>move cursor <b>till</b> the first next character before</dd><dt>T</dt><dd>move cursor <b>till</b> the first next charactor before</dd><dt>;</dt><dd>repeat the latest f/F/t/T command. </dd><dt>,</dt><dd>repeat the latest f/F/t/T command in opposite direction</dd></dl></div><div class="classic page slide-r2l-in slide-r2l-out" id="page130"><a class="prev" href="#page120"></a><a class="next" href="#page140"></a><div class="title">move around in vim (5)</div><div class="subtitle">g % C+d C+u </div><dl><dt>g</dt><dd><b>go</b> to somewhere<dl><dt>gg</dt><dd><b>go</b> to the beginning of the file</dd><dt>G</dt><dd><b>go</b> to the end of the file</dd></dl></dd><dt>%</dt><dd>go to matching bracket</dd><dt>C+d</dt><dd>move <b>down</b> half screen</dd><dt>C+u</dt><dd>move <b>up</b> half screen</dd></dl></div><div class="classic page slide-r2l-in slide-r2l-out" id="page140"><a class="prev" href="#page130"></a><a class="next" href="#page143"></a><div class="title">editing commands</div><div class="subtitle">x r s </div><p>for single character</p><dl><dt>x</dt><dd>delete character under cursor</dd><dt>r{char}</dt><dd>repalce character under cursor to {char}</dd><dt>s</dt><dd>delete character under cursor and enter edit mode</dd></dl></div><div class="classic page slide-r2l-in slide-r2l-out" id="page143"><a class="prev" href="#page140"></a><a class="next" href="#page145"></a><div class="layout"><h2> Text Object</h2></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page145"><a class="prev" href="#page143"></a><a class="next" href="#page150"></a><div class="layout"><h3>What is Text Object</h3></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page150"><a class="prev" href="#page145"></a><a class="next" href="#page160"></a><div class="title">editing commands (2)</div><div class="subtitle">text object</div><div class="layout"><div class="container"><div class="row"><div class="cell"><ul> <li>a</li><li>i (inner)</li></ul></div><div class="cell"><ul><li>w(word) </li><li>W(Word)</li><li>s(sentence)</li><li>p(paragraph)</li><li>bracket((), [], {}, &lt;&gt;)</li><li>quote('', "", ``)</li></ul></div></div></div></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page160"><a class="prev" href="#page150"></a><a class="next" href="#page165"></a><div class="title">editing commands (3)</div><div class="subtitle">d c v y p</div><p>actions:</p><dl><dt>d</dt><dd><b>delete</b></dd><dt>c </dt><dd><b>change</b></dd><dt>v</dt><dd><b>visually</b> select</dd><dt>y</dt><dd><b>yank</b></dd><dt>p</dt><dd><b>put</b></dd></dl></div><div class="classic page slide-r2l-in slide-r2l-out" id="page165"><a class="prev" href="#page160"></a><a class="next" href="#page170"></a><div class="title">undo/redo</div><div class="layout"><dl><dt>u</dt><dd><b>undo</b></dd><dt>ctrl+r</dt><dd><b>redo</b></dd></dl></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page170"><a class="prev" href="#page165"></a><a class="next" href="#page175"></a><div class="title">visual mode</div><div class="layout"><h2>How to enter visual mode</h2></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page175"><a class="prev" href="#page170"></a><a class="next" href="#page178"></a><div class="layout"> <h1><kbd>v</kbd> </h1></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page178"><a class="prev" href="#page175"></a><a class="next" href="#page180"></a><div class="title">count</div><div class="layout"> <h2>repeat following command {n} times</h2></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page180"><a class="prev" href="#page178"></a><a class="next" href="#page190"></a><div class="title">macro</div><div class="content"><dl><dt>start recording macro</dt><dd>q{char}</dd><dt>end recording macro</dt><dd>q</dd><dt>use the macro</dt><dd>@{char}</dd></dl></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page190"><a class="prev" href="#page180"></a><a class="next" href="#page200"></a><div class="title">marker</div><div class="content"><dl><dt>create a <b>mark</b></dt><dd>m{char}</dd><dt>goto a mark</dt><dd>`{char}/'{char}</dd></dl></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page200"><a class="prev" href="#page190"></a><a class="next" href="#page210"></a><div class="title">z</div><dl><dt>zt</dt><dd>make current line <b>top</b> of screen</dd><dt>zz</dt><dd>make current line middle of screen</dd><dt>zb</dt><dd>make current line <b>bottom</b> of screen</dd><dt>zc</dt><dd><b>close</b> current level of text</dd><dt>zo</dt><dd><b>open</b> </dd></dl></div><div class="classic page slide-r2l-in slide-r2l-out" id="page210"><a class="prev" href="#page200"></a><a class="next" href="#page220"></a><div class="layout"><h2>exit vim?</h2></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page220"><a class="prev" href="#page210"></a><a class="next" href="#page230"></a><div class="layout"><h1>:q / :wq  / :q!</h1></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page230"><a class="prev" href="#page220"></a><a class="next" href="#page240"></a><div class="title">plugins support vim keymaps</div><div class="layout"><ul><li>Vrapper(Eclipse)</li><li>Vim(Code) </li><li>Vintage(Sublime)</li><li>Evil(Emacs)</li></ul></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page240"><a class="prev" href="#page230"></a><a class="next" href="#pagex"></a><div class="layout"><h2>That's all.</h2></div></div><div class="classic page slide-r2l-in slide-r2l-out" id="page250"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page260"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div><div class="classic page slide-r2l-in slide-r2l-out" id="page60"><a class="prev" href="#page50"></a><a class="next" href="#page70"></a></div></body></html>
